
@mixin absolute($offsets) {
    @include _position(absolute, $offsets);
}

@mixin fixed($offsets) {
    @include _position(fixed, $offsets);
}

@mixin relative($offsets) {
    @include _position(relative, $offsets);
}

@mixin static() {
    @include _position(static, auto auto auto auto);
}

@mixin _position($position, $offsets) {
    $length: length($offsets);
    $targets: null !default;

    @if($length > 0) {
        $targets: top right bottom left;
    }

    @if($length == 3) {
        $targets: top right bottom;
    }

    position: $position;

    @for $index from 1 through length($targets) {
        #{nth($targets, $index)}: nth($offsets, ($index - 1) % $length + 1) + 0px;
    }
}