.dashboard-grid {
    @include absolute($offsets: 2 * $magic-number);

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2 * $magic-number;
}